<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,500,600" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href="css/colors/mychoice.css" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

<style>
    .aligncenter {
        text-align: center;
    }
    img {
        max-width: 100%;
        height: auto;
        width: auto\9; 
        border-radius: 10%;
    }
</style>

<div class="aligncenter">
    <h1>Well, you can't miss what you never had!</h1>
    <img src="images/source.gif" alt="" style="margin: auto" />
</div>
<div class="aligncenter" style="margin-top: 1%">
    <a href="/" class="btn btn-danger btn-lg">Go Home</a>
</div>
